<% content_for :user_style do %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'font-awesome' %>
  <%= stylesheet_link_tag 'metisMenu.min' %>
  <%= stylesheet_link_tag 'sb-admin-2' %>
  <%= stylesheet_link_tag 'dataTables.bootstrap' %>
  <%= stylesheet_link_tag 'styles' %>
  <%= stylesheet_link_tag 'admin' %>
  <%= stylesheet_link_tag 'morris' %>
  <%= stylesheet_link_tag 'select2.min' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% end %>

<div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    CAR FOCUS
                </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li>
                    Welcome, <%= current_user.user_type %>
                    <span class="text-primary"></span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/user/settings"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href data-toggle="modal" data-target="#settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/users/sign_out"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation" navigation-app>
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                           <div class="user-info">  
                               <div class="profile-pic text-center">
                                   <!-- <img src="img/user.jpg" class="img-circle float"> -->
                                   <%= image_tag "user.jpg", class: "img-circle float" %>
                               </div>
                               <div class="profile-name text-center">
                                   <h4>Hello, <span class="text-primary"><%= current_user.user_info.firstname.titleize %></span></h4>
                               </div>
                           </div>
                        </li>
                        <% if current_user.user_type == 'admin' %>
                          <%= render 'dashboard' %>
                          <%= render 'inventory' %>
                          <%= render 'expenses' %>
                          <%= render 'estimations' %>
                          <%= render 'customers' %>
                          <%= render 'summary' %>

                        <% elsif current_user.user_type == 'regular' %>
                          <%= render 'estimations' %>

                        <% elsif current_user.user_type == 'secretary' %>
                          <%= render 'dashboard' %>
                          <%= render 'inventory' %>
                          <%= render 'estimations' %>
                          <%= render 'expenses' %>
                          <%= render 'customers' %>
                          <%= render 'summary' %>
                        <% elsif current_user.user_type == 'co-owner' %>
                          <%= render 'dashboard' %>
                          <%= render 'inventory' %>
                          <%= render 'estimations' %>
                          <%= render 'expenses' %>
                          <%= render 'summary' %>
                        <% end %>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                <% if current_user.user_type == 'admin' %>
                   <section class="" dashboard></section>
                   <section class="hidden" inventory-view></section>
                   <section class="hidden" inventory-add></section>
                   <section class="hidden" expense-view></section>
                   <section class="hidden" expense-add></section>
                   <section class="hidden" estimation-add></section>
                   <section class="hidden" estimation-view></section>
                   <section class="hidden" customer></section>
                   <section class="hidden" summary></section>

                <% elsif current_user.user_type == 'regular' %>
                  <section estimation-add></section>
                   <section class="hidden" estimation-view></section>

                <% elsif current_user.user_type == 'secretary' %>
                  <section class="" dashboard></section>
                   <section class="hidden" inventory-view></section>
                   <section class="hidden" inventory-add></section>
                   <section class="hidden" expense-view></section>
                   <section class="hidden" expense-add></section>
                   <section class="hidden" estimation-add></section>
                   <section class="hidden" estimation-view></section>
                   <section class="hidden" customer></section>
                   <section class="hidden" summary></section>

                <% elsif current_user.user_type == 'co-owner' %>
                   <section class="" dashboard></section>
                   <section class="hidden" inventory-view></section>
                   <section class="hidden" expense-view></section>
                    <section class="hidden" estimation-view></section>
                    <section class="hidden" summary></section>
                <% end %>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
