 <%= content_for :user_settings do %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'font-awesome' %>
  <%= stylesheet_link_tag 'metisMenu.min' %>
  <%= stylesheet_link_tag 'sb-admin-2' %>
  <%= stylesheet_link_tag 'dataTables.bootstrap' %>
  <%= stylesheet_link_tag 'styles' %>
  <%= stylesheet_link_tag 'admin' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <% end %>

 <div class="main-wrapper col-lg-12">
    <h1 class="page-header"><i class="fa fa-user fa-fw"></i> User Profile Settings </h1>
    <div class="row">
        <div class="col-md-12">
            <div class="content dashboard">
               <h3>Coming Soon</h3>
            </div>
        </div>
    </div>
</div>