<!DOCTYPE html>
<html  ng-app="app">
<head>
  <title>CarFocus</title>
  <%= yield :login_style %>
  <%= yield :user_style %>
  <%= yield :user_settings %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= yield %>

</body>
</html>
